extends ../layout

block variables
  -var active = 'contact'
  -var title = 'Contact'
  -var bodyClass = 'page'

block body
  section#about
    .container
      .row
        .col-md-3
          h1 Contact
        .col-md-9
          p Quisque malesuada turpis ante, ut eleifend nunc iaculis sed. Nullam vehicula sollicitudin libero vitae auctor. Nullam sollicitudin ullamcorper magna. aliquam massa sodales vel.
          h3 Address
          hr.left
          address 1234 5TH ST. NE WASHINGTON, DC
