extends ../layout

block variables
  -var active = 'home'
  -var title = 'Home'
  -var bodyClass = 'home'

block body
  section#home
    a(href='#').home-logo
      img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/logo-home.png', alt='Consulting Firm')
    #home-nav
      a(href='https://burhom.github.io/work-samples/consulting-firm/projects.html')
        .diamond
        h2 Projects
      a(href='https://burhom.github.io/work-samples/consulting-firm/services.html')
        .diamond
        h2 Services
      a(href='https://burhom.github.io/work-samples/consulting-firm/about.html')
        .diamond
        h2 About
      a(href='https://burhom.github.io/work-samples/consulting-firm/contact.html')
        .diamond
        h2 Contact
