extends ../layout

block variables
  -var active = 'projects'
  -var title = 'Projects'
  -var bodyClass = 'projects'

block body
  section#projects
    .container
      .row
        .col-md-3
          h1 Projects
        .col-md-9
          .row
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-1.jpg')
                  .overlay
                    .overlay-bg
                    | 1234 5th St. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-2.jpg')
                  .overlay
                    .overlay-bg
                    | 138 Florida Ave. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-3.jpg')
                  .overlay
                    .overlay-bg
                    | 679 H St. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-4.jpg')
                  .overlay
                    .overlay-bg
                    | 1234 5th St. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-5.jpg')
                  .overlay
                    .overlay-bg
                    | 1234 5th St. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-6.jpg')
                  .overlay
                    .overlay-bg
                    | 1234 5th St. NE
                    br
                    | Washington, DC
            article.project-thumb.col-sm-6.col-lg-4
              a(href='https://burhom.github.io/work-samples/consulting-firm/project-sample.html')
                .thumb-wrapper
                  img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/thumb-7.jpg')
                  .overlay
                    .overlay-bg
                    | 1234 5th St. NE
                    br
                    | Washington, DC
