section#about.section
  .container
    h2 About Design Company
    .content
      p.text-center
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non tortor in magna convallis tincidunt.
        br
        | Etiam tempus sapien quis tincidunt scelerisque.
      #clients
        h3 Clients
        .row
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .corner.nw
              .corner.sw.visible-md.visible-lg
              .corner.sw.cap.visible-sm
              .t-corner.sw.cap.visible-xs
              .t-corner.ne
              .t-corner.se.visible-md.visible-lg
              .t-corner.se.slim.visible-sm
              .corner.se.slim.visible-xs
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='AMT')
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .t-corner.nw
              .t-corner.sw.visible-md.visible-lg
              .t-corner.sw.slim.visible-sm
              .corner.sw.slim.visible-xs
              .t-corner.ne.hidden-xs
              .corner.ne.visible-xs
              .t-corner.se.visible-md.visible-lg
              .t-corner.se.slim.visible-sm
              .t-corner.se.cap.visible-xs
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='JCR')
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .t-corner.nw.hidden-xs
              .t-corner.nw.cap.visible-xs
              .t-corner.sw.visible-md.visible-lg
              .t-corner.sw.slim.visible-sm
              .t-corner.sw.cap.visible-xs
              .t-corner.ne.visible-md.visible-lg
              .corner.ne.visible-sm
              .corner.ne.slim.visible-xs
              .t-corner.se.visible-md.visible-lg
              .t-corner.se.cap.visible-sm
              .corner.se.slim.visible-xs
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='PN Hoffman')
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .t-corner.nw.visible-md.visible-lg
              .t-corner.nw.cap.visible-sm
              .corner.nw.slim.visible-xs
              .t-corner.sw.visible-md.visible-lg
              .corner.sw.visible-sm
              .corner.sw.slim.visible-xs
              .t-corner.ne.visible-md.visible-lg
              .t-corner.ne.slim.visible-sm
              .t-corner.ne.cap.visible-xs
              .t-corner.se.hidden-xs
              .corner.se.cap.visible-xs
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='SOM')
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .t-corner.nw.visible-md.visible-lg
              .t-corner.nw.slim.visible-sm
              .t-corner.nw.cap.visible-xs
              .t-corner.sw.hidden-xs
              .corner.sw.visible-xs
              .t-corner.ne.visible-md.visible-lg
              .t-corner.ne.slim.visible-sm
              .corner.ne.slim.visible-xs
              .t-corner.se
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='Urban Turf')
          .col-xs-6.col-sm-4.col-md-2
            a(href='#', target='_blank').thumbnail
              .t-corner.nw.visible-md.visible-lg
              .t-corner.nw.slim.visible-sm
              .corner.nw.slim.visible-xs
              .t-corner.sw
              .corner.ne.visible-md.visible-lg
              .corner.ne.cap.visible-sm
              .t-corner.ne.cap.visible-xs
              .corner.se
              img(src='https://burhom.github.io/assets/img/client.logo.png', alt='Quadrangle')
  #services
    h3 Services
    .well
      .container
        .row
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.am.png')
              h3 3D Architectural Modeling
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.arv.png')
              h3 3D Architectural Rendering &amp; Visualization
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.av.png')
              h3 Animation &amp; Video
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.pmp.png')
              h3 3D Printed Models/Prototypes
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.arp.png')
              h3 Architectural &amp; Real-Estate Photography
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
          .col-sm-6.col-md-4
            .service
              .circle
                img(src='https://burhom.github.io/assets/img/icn.per.png')
              h3 Photo Editing &amp; Retouching
              span.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum luctus facilisis.
