section#news.section
  .container
    h2 Latest News
  #posts
    .slide
      .col-xs-6
        article.post.purple-1
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-2
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-3
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-4
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
    .slide
      .col-xs-6
        article.post.purple-1
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-2
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-3
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-4
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
    .slide
      .col-xs-6
        article.post.purple-1
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-2
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-3
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
      .col-xs-6
        article.post.purple-4
          a(href='https://burhom.github.io/work-samples/design-company/article/post-example.html')
            span.date 03/09/14
            h4 This is the Title of the Article
            .post-content.hidden-xs
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat ante. Fusce in molestie magna, vitae dapibus nisi. In commodo nisl non risus sollicitudin, a placerat tellus ullamcorper.
              p Phasellus et cursus metus, quis convallis enim. Vestibulum vestibulum commodo orci ut pretium. Cras a quam sem.
    span.prev
      i.fa.fa-angle-left
    span.next
      i.fa.fa-angle-right
