section#work.section
  .container
    h2 Featured Work
  .container-fluid
    #projects
      .row
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-1.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project2.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-2.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-3.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-1.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-2.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-3.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-1.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-2.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        .col-sm-6.col-md-4
          .project
            .img-wrapper
              img(src='https://burhom.github.io/work-samples/design-company/assets/img/project-3.jpg')
              .overlay
                .overlay-wrapper
                  canvas.hover-img
                  .btn-wrapper
                    a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html').btn.btn-small
                      .corner.nw
                      .corner.ne
                      .corner.sw
                      .corner.se
                      .line.line-t
                      .line.line-r
                      .line.line-b
                      .line.line-l
                      span View Project
            h4 The Project Title
            span.client Client Name
        
    #archives.text-center
      a(href='#').btn
        .corner.nw
        .corner.ne
        .corner.sw
        .corner.se
        .line.line-t
        .line.line-r
        .line.line-b
        .line.line-l
        span Project Archives
      .overlay.overlay-door.close
        button(type='button').btn-close Close
        nav
          h2 Project Archives
          ul
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 01.
                span.name  The Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project2.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 02.
                span.name  The Project Title Long Name
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 03.
                span.name  The Project
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 04.
                span.name  Another Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 05.
                span.name  The Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 06.
                span.name  The Project Name Goes Here
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 07.
                span.name  The Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 08.
                span.name  The Project Title Long Name
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 09.
                span.name  The Project
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 10.
                span.name  Another Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 11.
                span.name  The Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 12.
                span.name  The Project Name Goes Here
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 13.
                span.name  The Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 14.
                span.name  The Project Title Long Name
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 15.
                span.name  The Project
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 16.
                span.name  Another Project Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 17.
                span.name  The Title
                small Client Name
            li.archive: a(href='https://burhom.github.io/work-samples/design-company/project/sample-project.html')
              .bg(style='background-image: url(https://burhom.github.io/work-samples/design-company/assets/img/archive-thumb-1.jpg)')
              h3
                span.num 18.
                span.name  The Project Name Goes Here
                small Client Name
