header#header
  nav(role='navigation').navbar
    .container
      .navbar-header
        #main-nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=active === 'projects' || active === 'single' ? 'active' : ''): a(href='https://burhom.github.io/work-samples/consulting-firm/projects.html') Projects
            li(class=active === 'services' ? 'active' : ''): a(href='https://burhom.github.io/work-samples/consulting-firm/services.html') Services
            li(class=active === 'about' ? 'active' : ''): a(href='https://burhom.github.io/work-samples/consulting-firm/about.html') About
            li(class=active === 'contact' ? 'active' : ''): a(href='https://burhom.github.io/work-samples/consulting-firm/contact.html') Contact
        a(href='https://burhom.github.io/work-samples/consulting-firm/').logo
          img(src='https://burhom.github.io/work-samples/consulting-firm/assets/img/logo.png', alt='Consulting Frim')
        button(type='button', data-toggle='collapse', data-target='#main-nav').navbar-toggle
          span.sr-only navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
